<div class="container">
  <hr>

  <div class="card">
    <div class="row">
      <aside class="col-sm-5 border-right">
        <article class="gallery-wrap">
          <div class="img-big-wrap" style="margin: 25px">
           <img class="rounded-lg" src="{{product_details.imgsrc}}" alt="abcd">
          </div> <!-- slider-product.// -->
         <!-- <div class="img-small-wrap">
            <div class="item-gallery"> <img src="https://s9.postimg.org/tupxkvfj3/image.jpg"> </div>
            <div class="item-gallery"> <img src="https://s9.postimg.org/tupxkvfj3/image.jpg"> </div>
            <div class="item-gallery"> <img src="https://s9.postimg.org/tupxkvfj3/image.jpg"> </div>
            <div class="item-gallery"> <img src="https://s9.postimg.org/tupxkvfj3/image.jpg"> </div>
          </div>--> <!-- slider-nav.// -->
        </article> <!-- gallery-wrap .end// -->
      </aside>
      <aside class="col-sm-7">
        <article class="card-body p-5">
          <h3 class="title mb-3">{{product_details.name}}</h3>

          <p class="price-detail-wrap">
	<span class="h3 text-warning">
		₹{{product_details.unitPrice}}
	</span>
          </p> <!-- price-detail-wrap .// -->
          <dl class="item-property">
            <dt>Description</dt>
            <dd><p>{{product_details.description}}</p></dd>
          </dl>
          <dl class="param param-feature">
            <dt>Model#</dt>
            <dd>{{product_details.code}}</dd>
          </dl>  <!-- item-property-hor .// -->
          <dl class="param param-feature">
            <dt>Brand#</dt>
            <dd>{{product_details.brand}}</dd>
          </dl>  <!-- item-property-hor .// -->
          <dl class="param param-feature">
            <dt>Quantity-In-Stocks#</dt>
            <dd>{{product_details.quantity}}</dd>
          </dl>
          <dl class="param param-feature">
            <dt>Supplied By(Id)#</dt>
            <dd>{{product_details.supplierId}}</dd>
          </dl>
          <dl class="param param-feature">
            <dt>Delivery Available At</dt>
            <dd>Russia, USA, and Europe</dd>
          </dl>  <!-- item-property-hor .// -->

       <!--   <hr>
          <div class="row">
            <div class="col-sm-5">
              <dl class="param param-inline">
                <dt>Quantity: </dt>
                <dd>
                  <select class="form-control form-control-sm" style="width:70px;">
                    <option> 1 </option>
                    <option> 2 </option>
                    <option> 3 </option>
                  </select>
                </dd>
              </dl>  &lt;!&ndash; item-property .// &ndash;&gt;
            </div> &lt;!&ndash; col.// &ndash;&gt;
            <div class="col-sm-7">
              <dl class="param param-inline">
                <dt>Size: </dt>
                <dd>
                  <label class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <span class="form-check-label">SM</span>
                  </label>
                  <label class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <span class="form-check-label">MD</span>
                  </label>
                  <label class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <span class="form-check-label">XXL</span>
                  </label>
                </dd>
              </dl>  &lt;!&ndash; item-property .// &ndash;&gt;
            </div> &lt;!&ndash; col.// &ndash;&gt;
          </div> &lt;!&ndash; row.// &ndash;&gt;-->
          <hr>
          <a href="#" class="btn btn-lg btn-primary text-uppercase mr-2"> Buy now </a>
          <a  class="btn btn-lg btn-outline-primary text-uppercase" (click)="addItemsinCart()"> <i class="fas fa-shopping-cart"></i> Add to cart </a>
        </article> <!-- card-body.// -->
      </aside> <!-- col.// -->
    </div> <!-- row.// -->
  </div> <!-- card.// -->


</div>
<!--container.//-->



