<div class="container">
  <hr>

  <div class="card">
    <div class="row">
      <aside class="col-sm-5 border-right">
        <article class="gallery-wrap">
          <div class="img-big-wrap" style="margin: 25px">
           <img class="rounded-lg zprop" src="{{product_details.imgsrc}}" alt="abcd">
          </div> <!-- slider-product.// -->
         <!-- <div class="img-small-wrap">
            <div class="item-gallery"> <img src="https://s9.postimg.org/tupxkvfj3/image.jpg"> </div>
            <div class="item-gallery"> <img src="https://s9.postimg.org/tupxkvfj3/image.jpg"> </div>
            <div class="item-gallery"> <img src="https://s9.postimg.org/tupxkvfj3/image.jpg"> </div>
            <div class="item-gallery"> <img src="https://s9.postimg.org/tupxkvfj3/image.jpg"> </div>
          </div>--> <!-- slider-nav.// -->
        </article> <!-- gallery-wrap .end// -->
      </aside>
      <aside class="col-sm-7">
        <article class="card-body p-5">
          <h3 class="title mb-3">{{product_details.code}}</h3>

          <p class="price-detail-wrap">
	<span class="h3 text-warning">
		₹{{product_details.unitPrice}}
	</span>
          </p> <!-- price-detail-wrap .// -->
          <dl class="item-property">
            <dt>Description</dt>
            <dd><p>{{product_details.description}}</p></dd>
          </dl>
          <dl class="param param-feature">
            <dt>Type#</dt>
            <dd>{{product_details.name}}</dd>
          </dl>  <!-- item-property-hor .// -->
          <dl class="param param-feature">
            <dt>Brand#</dt>
            <dd>{{product_details.brand}}</dd>
          </dl>  <!-- item-property-hor .// -->
          <dl class="param param-feature">
            <dt>Quantity-In-Stocks#</dt>
            <dd>{{product_details.quantity}}</dd>
          </dl>
          <dl class="param param-feature">
            <dt>Supplied By(Id)#</dt>
            <dd>{{product_details.supplierId}}</dd>
          </dl>
          <dl class="param param-feature">
            <dt>Delivery Available At</dt>
            <dd>Russia, USA, and Europe</dd>
          </dl>
          <hr>
          <a  class="btn btn-lg btn-outline-dark text-uppercase text-danger" (click)="addItemsinCart()"> <i class="material-icons">shopping_cart</i> Add to cart </a>
          <div *ngIf="service.isAdmin()">
            <a  class="btn btn-lg btn-outline-dark text-uppercase text-danger mt-2" (click)="edit(product_Id)"> <i class="material-icons">edit</i>Edit Product</a>
          </div>
        </article> <!-- card-body.// -->
      </aside> <!-- col.// -->
    </div> <!-- row.// -->
  </div> <!-- card.// -->


</div>
<!--container.//-->



