<div style="height: 100vh;">
  <div class="container">
  <a routerLink="/home" class="text-decoration-none text-dark">
    <ng-marquee>
    <h1 class="pt-5 text-center font-weight-bolder font-italic"><img class="iconstyle rounded-circle" src="./assets/image/Capture.PNG">G-STORE</h1>
    </ng-marquee>
  </a>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form class="form-signin">
            <div class="form-label-group">
              <label for="inputUsername" ><b>USERNAME-:</b></label>
              <input type="text" id="inputUsername" name="usern" [(ngModel)]="username" class="form-control " placeholder="Username" required autofocus>
            </div>
            <div class="form-label-group">
              <label for="inputPassword"><b>Password-:</b></label>
              <input type="password" id="inputPassword" name="pwd" [(ngModel)]="password" class="form-control" placeholder="Password" required>
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Remember password</label>
            </div>
            <button  (click)=checkLogin() class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
          </form>
          <div class="text-right mt-3">
            New to  G-Store?
            <a routerLink="/sign_up" class="font-weight-bold">
            <button class="btn-primary subtn">Sign-Up</button>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
