<div class="container mt-2">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1" style="border: 1px solid darkblue">
      <table class="table table-hover border-dark">
        <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th class="text-center">Price</th>
          <th class="text-center">Total</th>
          <th> </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of cartItems">
          <td class="col-sm-8 col-md-6">
            <div class="media">
              <a class="thumbnail pull-left" href="#"> <img class="media-object" src="{{c.items.imgsrc}}" style="width: 72px; height: 72px;"> </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="#">{{c.items.name}}</a></h4>
                <h5 class="media-heading"> by <a href="#">{{c.items.brand}}</a></h5>
                <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
              </div>
            </div></td>
          <td class="col-sm-1 col-md-1" >
              <button type="button" class="btn btn-danger btn-number p-0" (click)="decrease(c.items.id)">
                <i class="material-icons">minimize</i>
              </button>
              <input type="number" id="a" disabled name="quant" class="form-control input-number p-0" style="width: 27px;height: 27px" value={{c.quantity}}>
              <button type="button" class="btn btn-success btn-number p-0" (click)="increase(c.items.id)">
                <i class="material-icons">add </i>
              </button>
          </td>
          <td class="col-sm-1 col-md-1 text-center"><strong>{{c.items.unitPrice}}</strong></td>
          <td class="col-sm-1 col-md-1 text-center"><strong>{{pt}}</strong></td>
          <td class="col-sm-1 col-md-1">
            <button type="button" class="btn btn-danger" (click)="remove(c.items.id)">
              <i class="material-icons">
                delete_forever
              </i><span style="vertical-align: top" >Remove</span>
            </button></td>
        </tr>
        </tbody>
      </table>
        <table class="table table-hover">
          <tbody>
        <tr>
          <td>   </td>
          <td>   </td>
          <td>   </td>
          <td style="text-align: right;padding-right: 4rem"><h5>Subtotal</h5></td>
          <td class="text-right"><h5><strong>{{total}}</strong></h5></td>
        </tr>
        <tr>
          <td>   </td>
          <td>   </td>
          <td>   </td>
          <td style="text-align: right"><h5>Estimated shipping</h5></td>
          <td class="text-right"><h5><strong>{{tax}}</strong></h5></td>
        </tr>
        <tr>
          <td>   </td>
          <td>   </td>
          <td>   </td>
          <td style="text-align: right;padding-right: 4rem"><h3>Total</h3></td>
          <td class="text-right"><h3><strong>{{taxtotal}}</strong></h3></td>
        </tr>
        <tr>
          <td>   </td>
          <td>   </td>
          <td>   </td>
          <td>
            <button type="button" class="btn btn-default border-primary" style="width: 15rem;" routerLink="/home">
              <i class="material-icons">shopping_cart</i><span style="vertical-align: top"> Continue Shopping</span>
            </button></td>
          <td>
            <button type="button" class="btn btn-success" style="width: 8rem" routerLink="/placed">
              <span style="vertical-align: top"> Checkout </span><i class="material-icons">
              play_arrow
            </i>
            </button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
