 <nav class="navbar navbar-expand-sm fixed-top justify-content-between">
    <a class="navbar-brand" routerLink="/home">
      <ng-marquee>
        <img src="./assets/image/Capture.PNG" class="iconstyle">
        <span style="vertical-align: top"><b>G-STORE</b></span>
      </ng-marquee>
    </a>
    <div class="search-container d-flex">
      <b>Search</b><i class = "material-icons" style="font-size: 2rem;color: yellow">search</i>
      <input class="form-control p-0 m-0" type="search" placeholder="Search for products,brand or more">
    </div>
    <div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a *ngIf="!appservice.checkLogin()" class="nav-link text-white" routerLink="/sign_up"><i class="material-icons" style="color: yellow">person_outline</i>
            <span style="vertical-align: top">Signup</span>
          </a>
        </li>
        <li class="nav-item">
        <a *ngIf="!appservice.checkLogin()" class="nav-link text-white" routerLink="/sign_in"><i class="material-icons" style="color: yellow">person</i>
          <span style="vertical-align: top">SignIn</span>
        </a>
      </li>
        <li class="nav-item">
          <a *ngIf="appservice.checkLogin()" class="nav-link text-white" (click)="logout()"><i class="material-icons" style="color: yellow">exit_to_app</i>
            <span style="vertical-align: top">Log-Out</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/cart"><i class="material-icons" style="color: yellow">shopping_cart</i>
            <span style="vertical-align: top">My Cart</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

