<div class="bg-dark">
<div class="container justify-content-center  d-flex bg-dark">
  <!--<form>
    <input class="p-1 m-0" [(ngModel)]="see" name="any" type="text" placeholder="Search for products,brand or more">
    <button class="p-1 m-1" type="submit" (click)="seename()"><i class = "material-icons"  style="font-size: 2rem;color: black">search</i></button>
  </form>-->
    <input type="search" class="mt-1 mb-1 w-50 rounded-lg" [(ngModel)]="see" placeholder="Search BY Name" name="search2">
    <button class="mt-1 mb-1" type="submit" (click)="seename()"><i class="material-icons">search</i></button>
</div>
</div>
<div class="bg-dark">
  <div class="container">
    <div class = "row">
      <div class = "col-2dot4 ptr" (click)="ngOnInit()"><a class="nav-link text-white"><h6>HOME</h6></a></div>
      <div class = "col-sm-2dot4 ptr" (click)="getWithCategory('Electronics')"><a class="nav-link text-white" ><h6>ELECTRONICS</h6></a></div>
      <div class = "col-md-2dot4 ptr" (click)="getWithCategory('Books')"><a class="nav-link text-white" ><h6>BOOKS</h6></a></div>
      <div class = "col-lg-2dot4 ptr" (click)="getWithCategory('Sports')"><a class="nav-link text-white"><h6>SPORTS</h6></a></div>
      <div class = "col-xl-2dot4 ptr" (click)="getWithCategory('Fashion')"><a class="nav-link text-white" ><h6>FASHION</h6></a></div>
    </div>
  </div>
</div>
<div *ngIf="category1==null" class="bg-dark">
  <ngb-carousel  class="mt-1 mb-2">
    <ng-template ngbSlide>
      <img src="./assets/image/carousel4.PNG" height="530px" class="w-100" alt="Random third slide">
    </ng-template>
    <ng-template ngbSlide >
      <img src="./assets/image/carousel1.PNG" height="530px" class="w-100" alt="Random first slide">
    </ng-template>
    <ng-template ngbSlide>
      <img src="./assets/image/carousel3.jpg" height="530px" class="w-100" alt="Random second slide">
    </ng-template>
    <ng-template ngbSlide>
      <img src="./assets/image/carousel2.jpg" height="530px" class="w-100" alt="Random third slide">
    </ng-template>
  </ngb-carousel>
</div>
<div class = "row mx-0">
  <div class = "col-2 bg-light price-filter mt-1">
    <span>PRICE</span>
    <ul class="mb-4">
      <li><input type = "radio" value = "1 to 500" name="price" [(ngModel)]="range" (click)="getWithPriceOnly(0,500)" >
      Less than Rs 500</li>
      <li><input type = "radio" value = "501 to 1500" name="price" [(ngModel)]="range" (click)="getWithPriceOnly(501,1500)">
        Rs 501 - Rs 1500</li>
      <li><input type = "radio" value = "1501 to 3000" name="price" [(ngModel)]="range" (click)="getWithPriceOnly(1501,3000)">
        Rs 1501 - Rs 3000</li>
      <li><input type = "radio" value = "3001 to 10000" name="price" [(ngModel)]="range" (click)="getWithPriceOnly(3001,10000)">
        Rs 3001 - Rs 10000</li>
      <li><input type = "radio" value = "10001 to 100000" name="price" [(ngModel)]="range" (click)="getWithPriceOnly(10001,100000)">
        More than Rs 10000</li>
    </ul>
    <hr>
    <span>BRAND</span>
    <ul *ngFor="let p of products">
      <li>
        <input type = "radio" value = "{{p.brand}}" [(ngModel)]="bfilter" name="brand" (click)="showWithBrandAndCategory(p.brand)">{{p.brand}}
      </li>
    </ul>
    <!--<ul>
      <li><input type = "radio" value = "B&O" [(ngModel)]="bfilter" name="brand" (click)="showWithBrandAndCategory('B&O')">
        B&O</li>
      <li><input type = "radio" value = "ADIDAS" [(ngModel)]="bfilter" name="brand" (click)="showWithBrandAndCategory('ADIDAS')">
        ADIDAS</li>
      <li><input type = "radio" value = "PUMA" [(ngModel)]="bfilter" name="brand" (click)="showWithBrandAndCategory('PUMA')">
        PUMA</li>
      <li><input type = "radio" value = "WRONGN" [(ngModel)]="bfilter" name="brand" (click)="showWithBrandAndCategory('WROGN')">
        WROGN</li>
      <li><input type = "radio" value = "KOOKABURA" [(ngModel)]="bfilter" name="brand" (click)="showWithBrandAndCategory('KOOKABURA')">
        KOOKABURA</li>
    </ul>-->
  </div>
  <div *ngIf="products.length==0" class="d-flex">
    <div><img src="./assets/image/result.PNG"></div>
    <div style="font-size: 50px" class="text-warning">No Results Found</div>
  </div>
  <div class = "col-10 bg-dark mt-1">
    <div class = "row">
      <div class = "col-3" *ngFor="let p of products">
        <div class= "pro-style mb-5 rounded-lg pl-2 pt-1 pb-1"(click)="onShow(p)">
          <img src="{{p.imgsrc}}" height="300px" class="mt-2 zprop">
          <div><b>{{p.brand}}</b></div>
          <div>"{{p.name}}"</div>
          <div>Price-:<b>₹{{p.unitPrice}}</b></div>
          <div align="center"><button class=" btn btn-dark rounded-lg">View</button> </div>
        </div>
      </div>
    </div>

  </div>
</div>
