.price-filter{
  border: 1px solid darkgrey;
  border-right-color: #cccccc;
  margin-top: 2rem;
  border-left: none;
  padding-top: 0.5rem;
  padding-left: 1.5rem;
}
.price-filter ul{
  padding-left : 0;
  list-style-type: none;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
